# GEOMETRY.CONFIG
#
# This is the geometry configuration file for including bodies of all types in a 
# LUMA simulation. Each body is specified using a tab-separated line within this 
# file. This file should be placed within the /input/ directory prior to running 
# LUMA.
#
# The general format for specifying a body is:
#
# 	KEYWORD 	TYPE 	OBJECT_SPECIFIC_PARAMETERS
#
# Types currently supported are IBM, BFL and BBB. Only one BFL and BBB body may be
# present in a given simulation at present.
# Note some parameters may be redundant for specific cases. If a parameter is not
# relevant to a particular case then specify it as NULL.
# Examples for each keyword are given below:
#
# Reading point clouds:
# FROM_FILE TYPE FILE_NAME LEV REG XREFTYPE XREF YREFTYPE YREF ZREFTYPE ZREF LENGTH SCALING_DIRECTION FLEX_RIGID BC
#
# Prefab Filament:
# FILAMENT TYPE LEV REG STARTX STARTY STARTZ LENGTH ANGLE_VERT ANGLE_HORZ FLEX_RIGID BC
#
# Prefab Circle/Sphere
# CIRCLE_SPHERE TYPE LEV REG CENTREX CENTREY CENTREZ RADIUS FLEX_RIGID
#
# Prefab Rectangle/Cuboid:
# SQUARE_CUBE TYPE CENTREX CENTREY CENTREZ LENGTH HEIGHT DEPTH ANGLE_VERT ANGLE_HORZ FLEX_RIGID
#
# FROM_FILE    		BBB    ibb_input.in    0    0    5.0    2.0    0.5    6.0    Y    NULL    NULL
# FILAMENT    		IBM    0    0    15.5    2.5    0.5    5.0    90.0    0.0    FLEXIBLE    CLAMPED
# SQUARE_CUBE    	IBM    0    0    10.0     5.0     0.5    8.0    4.0   1.0    0.0     0.0    RIGID
# CIRCLE_SPHERE    	BFL    1    0    0.2    0.21    0.0    0.05    RIGID
# FILAMENT    		BFL    0    0    1.0    0.16    0.0    0.1    90.0    0.0    RIGID    CLAMPED
#
FROM_FILE			BBB		bbb_input.in	1	0	START	0.4		START	0.4		CENTRE	0.5	0.1		X	NULL	NULL

