# GEOMETRY.CONFIG
#
# This is the geometry configuration file for including bodies of all types in a
# LUMA simulation. Each body is specified using a tab-separated line within this
# file. This file should be placed within the /input/ directory prior to running
# LUMA.
#
# The general format for specifying a body is:
#
# 	KEYWORD 	TYPE 	OBJECT_SPECIFIC_PARAMETERS
#
# Types currently supported are IBM, BFL and BBB. Only one BFL and BBB body may be
# present in a given simulation at present. BBB bodies can only be built using the
# point cloud reader. Note some parameters may be redundant for specific cases.
# If a parameter is not relevant to a particular case then specify it as NULL.
# Examples for each keyword are given below:
#
# Reading point clouds:
# FROM_FILE TYPE FILE_NAME LEV REG XREFTYPE XREF YREFTYPE YREF ZREFTYPE ZREF LENGTH SCALING_DIRECTION FLEX_RIGID BC
#
# Prefab Filament array:
# FILAMENT_ARRAY TYPE LEV REG NUMBER STARTX STARTY STARTZ SPACEX SPACEY SPACEZ LENGTH HEIGHT DEPTH ANGLE_VERT ANGLE_HORZ FLEX_RIGID N_ELEMENTS_STRING BC DENSITY YOUNG_MOD
#
# Prefab Circle/Sphere
# CIRCLE_SPHERE TYPE LEV REG CENTREX CENTREY CENTREZ RADIUS FLEX_RIGID
#
# Prefab Rectangle/Cuboid:
# SQUARE_CUBE TYPE LEV REG CENTREX CENTREY CENTREZ LENGTH HEIGHT DEPTH ANGLE_VERT ANGLE_HORZ FLEX_RIGID
#
# Prefab Plate:
# PLATE TYPE LEV REG CENTREX CENTREY CENTREZ LENGTH WIDTH ANGLE_X ANGLE_Y ANGLE_Z FLEX_RIGID
#
#
# *****************************************************************************************************
#FROM_FILE BBB CubeFilled.pointcloud 3 0 START 0.0 START 0.25 START 1.5 1.0 X NULL NULL
CIRCLE_SPHERE IBM 0 0 0.2025 0.2 0.0 0.05 RIGID