# This is the geometry configuration file. Each specific body is input via
# each line within this file. This file should be placed within the input 
# folder prior to running LUMA. The general format for specifying a body
# is KEYWORD TYPE OBJECT_SPECIFIC_PARAMETERS. Note some parameters may be
# redundant for specific cases (e.g. 2D/3D or choosing flexible if using
# BFL). If this is the case these fields still need a value that can be
# read by LUMA or the reader will crash. An example for each keyword is
# given below:
#
# POINTCLOUD FROM FILE:
# FROM_FILE TYPE FILE_NAME LEV REG STARTX STARTY CENTREZ LENGTH SCALING_DIRECTION FLEX_RIGID BC
#
# PREFAB FILAMENT:
# FILAMENT TYPE LEV REG STARTX STARTY STARTZ LENGTH ANGLE_VERT ANGLE_HORZ FLEX_RIGID BC
#
# PREFAB CIRCLE/SPHERE:
# CIRCLE_SPHERE TYPE LEV REG CENTREX CENTREY CENTREZ RADIUS FLEX_RIGID
#
# PREFAB SQUARE/CUBE:
# SQUARE_CUBE TYPE CENTREX CENTREY CENTREZ LENGTH HEIGHT DEPTH ANGLE_VERT ANGLE_HORZ FLEX_RIGID
#
# FROM_FILE    IBM    ibb_input.in    0    0    5.0    2.0    0.5    6.0    Y    FLEXIBLE    CLAMPED
# FILAMENT    IBM    0    0    15.5    2.5    0.5    5.0    90.0    0.0    FLEXIBLE    CLAMPED
# SQUARE_CUBE    IBM    0    0    10.0     5.0     0.5    8.0    4.0   1.0    0.0     0.0    RIGID
# CIRCLE_SPHERE    BFL    1    0    0.2    0.21    0.0    0.05    RIGID
# FILAMENT    BFL    0    0    1.0    0.16    0.0    0.1    90.0    0.0    RIGID    CLAMPED
# CIRCLE_SPHERE    BFL    1    0    0.2    0.21    0.0    0.05    RIGID
#
 FROM_FILE	BBB	bbb_input.in	1	0	0.4	0.4	0.5	0.1	X	RIGID	CLAMPED	

